# Secrets
.env

# Python virtual environment
.venv/

# Bytecode
__pycache__/
*.pyc
*.pyo

# uv lock (optional to commit, but fine to ignore locally)
# uv.lock

# DB files (will matter from Phase 5)
*.db
*.sqlite3

# Editor
.vscode/
.idea/
db/
